html {
    position: relative;
    min-height: 100%;
}

a {
    cursor: pointer;
}

body {
    padding-top: 60px;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    margin-top: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 276px;
    padding: 1px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: normal;
    background-color: white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #333;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    background-color: #0F0;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
}

.navbar {
    margin-bottom: 5px;
}

.offline-message {
    z-index: 10000;
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    padding: 25px;
}

    .offline-message input {
        font-size: 48px;
        font-weight: bold;
    }

.modal {
    z-index: 10000;
}

.row {
    margin: 0px auto;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #FF0101;
    border-radius: 10px;
}

.label {
    padding: .2em .6em .2em;
    font-size: 75%;
    font-weight: 700;
    line-height: 0;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.trump {
    border-radius: 10px;
    padding: 5px;
    color: #fff;
}

.game-info {
    margin: 0px;
    font-size: 14px !important;
    margin-bottom: 10px;
    min-height: 20px;
}

.game-board {
    background-image: url('/assets/table/table-official.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.game-board-table {
    width: 100%;
    height: 390px;
}

    .game-board-table tr td {
        vertical-align: middle;
        text-align: center;
    }

.cards-played-container {
    /*height: 94px;*/
}

.trump-card {
    display: inline-block;
    padding: 5px;
    border: 1px solid #75e163;
    border-radius: 5px;
    background-color: #aef5a2;
}
.deal-card {
    cursor: pointer;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #000;
}

.bid-box {
    width: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.player-score {
    font-weight: bold;
}

.player-bid {
    text-align: center;
}

.player-name-dealer { background-color: #FF9C9C; }
.player-name-active { background-color: #AAFF9C; }

.player-container {
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #000;
    width: 162px;
    background: #45484d; /* Old browsers */
}

    .player-container > .player-details {
        width: 95px;
        position: absolute;
        color: #fff;
    }

    .player-container > .player-profile-image {
        margin-left: 95px;
        width: 64px;
        border-left: 1px solid #7E7E7E;
    }

        .player-container > .player-profile-image .profile-pic {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-left: 1px solid #000;
        }

    .player-container > .player-details .player-name {
        background-color: #222;
        border-top-left-radius: 10px;
        border-bottom: 1px solid #000;
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        padding: 2px;
        overflow: hidden;
    }

        .player-container > .player-details .player-name.active {
            background-color: #AAFF9C !important;
            border-top-left-radius: 10px;
            border-bottom: 1px solid #000;
            color: #000 !important;
        }

        .player-container > .player-details .player-name.dealer {
            background-color: #FF9C9C;
            border-top-left-radius: 10px;
            border-bottom: 1px solid #000;
            color: #000 !important;
        }

.score-reporter {
    font-family: Tahoma;
    width: 64px;
    border-radius: 2px;
    position: absolute;
    z-index: 1000;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #007aff;
    border: 1px solid #032b56;
    color: #032b56;
    display: inline-block;
}

.card-holder {
    border-radius: 5px;
    margin-top: 10px;
    background-color: #C1C1C1;
    padding: 10px 0;
    border: 1px solid #999;
}

    .card-holder .player-cards {
    }

.player-cards a.unplayable {
}

.player-cards a img {
    position: relative;
}

.player-cards a.unplayable {
    position: relative;
}

    .player-cards a.unplayable img {
        opacity: 0.25;
        border: 1px solid #818181;
        margin-bottom: -10px;
    }

.well {
    margin-bottom: 0px;
}

.card {
    cursor: pointer;
    margin: 2px 5px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid #000;
    z-index: 100;
    position: relative;
    background-color: #fff;
}

.card.preselected {
    margin-top: -20px;
}

.cards-played .card {
    height: 100px;
}


.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.login {
    padding: 15px;
    margin: 0 auto;
}

    .login .login-heading,
    .login .checkbox {
        margin-bottom: 10px;
    }

    .login .checkbox {
        font-weight: normal;
    }

    .login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .login .form-control:focus {
            z-index: 2;
        }

    .login .username {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .login .password {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.form-control-no-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
    margin-bottom: -1px;
}
