<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="dbcc79465a3ee143e8b27fa3d80100994dConnectionString" connectionString="Data Source=cc79465a-3ee1-43e8-b27f-a3d80100994d.sqlserver.sequelizer.com;Initial Catalog=dbcc79465a3ee143e8b27fa3d80100994d;User ID=ycmilcwidrgcshzj;Password=xp6QUfX7JyoFWumXrD4ck7oDNN8rNUJJsALqfGS3pESb2vEUCzWmv4kzbAbffEsX" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="mailgun-api-key" value="key-28c7775eb9c94af72653249116fd23a3" />
    <add key="errorEmail" value="dexter.brock@gmail.com" />
    <add key="cookieName" value="OfficeWizard" />
    <add key="owin:appStartup" value="WizardGame.Startup" />
  </appSettings>

</configuration>
